<ng-container *ngIf="true">
    <div class="container">
        <div class ="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Iphone</td>
                            <td>SomeImage</td>
                            <td>This is hardcode</td>
                            <th>50,000</th>
                            <td>1</td>
                            <td>50,000</td>
                            <td><button class="btn btn-danger">Edit</button> <button class="btn btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="true"> 
    <div class ="container">
        <div class="card">
            <h3 class="card-title"> My Cart</h3>
        </div>
        <div class="center">
            <h4> Your cart is empty!</h4>
            <h5> Have an account? Sign in to see your cart </h5>
            <h5><button> Sign In </button></h5>
            <img src = "https://via.placeHolder.com/150" alt="">
        </div>
    </div>
    <button (click)="cart.viewToolbar()">Go back PlaceHolder</button>
</ng-container>


