.container {
    display: flex;
    flex-flow: column;
}

.product {
    width: 700px;
    margin: 20px;
}

.edit-button {
    margin: 5px;
    max-width: 250px;
}

.execute-button {
    margin: 5px;
    max-width: 40px;
}

.inactive {
    font-size: 14px;
    color: grey;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.description {
    max-width: 400px;
}