<mat-card *ngIf="accountService.currentUser.getValue().role === 1 || (accountService.currentUser.getValue().role != 2 && isAvailable())" class="product">

    <mat-card-content>
        <p style="font-weight: bold; font-size: 20px">{{product?.name}}</p>

        <img src={{product?.image}}>

        <p *ngIf="currentPrice === defaultPrice">{{defaultPrice | currency}}</p>
        <div *ngIf="currentPrice != defaultPrice">
            <p style="color: green">Sale price: {{currentPrice | currency}}</p>
            <p class="inactive">List price: <s>{{defaultPrice | currency}}</s></p>
        </div>
        <p *ngIf="accountService.currentUser.getValue().role === 1">Available on {{product?.availability | date}}</p>
        <p class="description">Description: {{product?.description}}</p>
        <p *ngIf="product?.discontinued" style="color: red">Item out of stock.</p>
        <p>Department: {{product?.category?.name}}</p>

        <div *ngIf="accountService.currentUser.getValue().role === 1">

            <p class="bold">Scheduled Prices:</p>
            <table mat-table [dataSource]="pricesDs" class="mat-elevation-z8">
              
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let price"> {{price.price | currency}} </td>
                </ng-container>
              
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef> Start Date </th>
                  <td mat-cell *matCellDef="let price"> {{price.startDate | date}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="priceColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: priceColumns;"></tr>
            </table>

            <p class="bold">Scheduled Sales:</p>
            <table mat-table [dataSource]="saleDs" class="mat-elevation-z8">
              
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let price"> {{price.price | currency}} </td>
                </ng-container>
              
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef> Start Date </th>
                  <td mat-cell *matCellDef="let price"> {{price.startDate | date}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let price"> {{price.endDate | date}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="saleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: saleColumns;"></tr>
            </table>

            <p class="bold">Scheduled Minimum Advertised Prices:</p>
            <table mat-table [dataSource]="mapDs" class="mat-elevation-z8">
              
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let price"> {{price.price | currency}} </td>
                </ng-container>
              
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef> Start Date </th>
                  <td mat-cell *matCellDef="let price"> {{price.startDate | date}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="priceColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: priceColumns;"></tr>
            </table>

            <p class="bold">Shipments:</p>
            <table mat-table [dataSource]="shipmentDs" class="mat-elevation-z8">
              
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let shipment"> {{shipment.date | date}} </td>
                </ng-container>
              
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let shipment"> {{shipment.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Cost/Item </th>
                    <td mat-cell *matCellDef="let shipment"> {{shipment.cost| currency}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="shipColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: shipColumns;"></tr>
            </table>
        </div>

        <button mat-raised-button color="primary"
            *ngIf="(accountService.currentUser.getValue().role === 0 || accountService.currentUser.getValue().role === -1) && !product?.discontinued" (click)="cartService.addToCart(this.product)">Add
            to Cart</button>

        <button mat-raised-button color="warn" *ngIf="accountService.currentUser.getValue().role === 1"
            (click)="productService.deleteProduct(accountService.currentUser.getValue(), product)">Delete Product Forever</button>

        <button mat-raised-button color="primary" *ngIf="accountService.currentUser.getValue().role === 1 && !edit"
            (click)="edit = true" class="execute-button">Edit</button>

        <div *ngIf="edit" class="container">

            <button mat-raised-button color="primary" *ngIf="!changeName" (click)="resetVals(); changeName = true"
                class="edit-button">Change Product Name</button>
            <div *ngIf="changeName" class="edit-form">

                <mat-form-field appearance="fill">
                    <mat-label>New Product Name</mat-label>
                    <input matInput [(ngModel)]="name">
                </mat-form-field>

                <button mat-raised-button (click)="updateName()" color="primary" class="execute-button">Apply</button>
                <button mat-raised-button (click)="changeName = false" color="warn"
                    class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!changeAvail" (click)="resetVals(); changeAvail = true"
                class="edit-button">Change Availability</button>
            <div *ngIf="changeAvail" class="edit-form">

                <mat-form-field>
                    <mat-label>New Date Available</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="available">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button (click)="updateAvail()" color="primary" class="execute-button">Apply</button>
                <button mat-raised-button (click)="changeAvail = false" color="warn"
                    class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!changeDesc" (click)="resetVals(); changeDesc = true"
                class="edit-button">Change Description</button>
            <div *ngIf="changeDesc" class="edit-form">

                <mat-form-field>
                    <mat-label>New Description</mat-label>
                    <input matInput [(ngModel)]="description">
                </mat-form-field>

                <button mat-raised-button (click)="updateDescription()" color="primary"
                    class="execute-button">Apply</button>
                <button mat-raised-button (click)="changeDesc = false" color="warn"
                    class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!addIm" (click)="resetVals(); addIm = true"
                class="edit-button">Change Image</button>
            <div *ngIf="addIm" class="edit-form">

                <mat-form-field>
                    <mat-label>Image URL</mat-label>
                    <input matInput [(ngModel)]="imageURL">
                </mat-form-field>

                <button mat-raised-button (click)="addImage()" color="primary" class="execute-button">Apply</button>
                <button mat-raised-button (click)="addIm = false" color="warn" class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!addCat" (click)="resetVals(); addCat = true"
                class="edit-button">Change Category</button>
            <div *ngIf="addCat" class="edit-form">

                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="category">
                      <mat-option *ngFor="let cat of ui.categorySubject.getValue()" [value]="cat">
                        {{cat.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <button mat-raised-button (click)="addCategory(category)" color="primary" class="execute-button">Apply</button>
                <button mat-raised-button (click)="addCat = false" color="warn" class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!schedMAP" (click)="resetVals(); schedMAP = true"
                class="edit-button">Schedule MAP</button>
            <div *ngIf="schedMAP" class="edit-form">

                <mat-form-field>
                    <mat-label>Price Limit</mat-label>
                    <input matInput type="number" [(ngModel)]="priceVal">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateVal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button (click)="addScheduledMAP()" color="primary"
                    class="execute-button">Apply</button>
                <button mat-raised-button (click)="schedMAP = false" color="warn" class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!schedPrice" (click)="resetVals(); schedPrice = true"
                class="edit-button">Schedule Price</button>
            <div *ngIf="schedPrice" class="edit-form">

                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" [(ngModel)]="priceVal">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateVal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button (click)="addScheduledPrice()" color="primary"
                    class="execute-button">Apply</button>
                <button mat-raised-button (click)="schedPrice = false" color="warn"
                    class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!schedSale" (click)="resetVals(); schedSale = true"
                class="edit-button">Schedule Sale</button>
            <div *ngIf="schedSale" class="edit-form">

                <mat-form-field>
                    <mat-label>Sale Price</mat-label>
                    <input matInput type="number" [(ngModel)]="priceVal">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateVal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateValEnd">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button (click)="addScheduledSale()" color="primary"
                    class="execute-button">Apply</button>
                <button mat-raised-button (click)="schedSale = false" color="warn"
                    class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!addShip" (click)="resetVals(); addShip = true"
                class="edit-button">Add Shipment</button>
            <div *ngIf="addShip" class="edit-form">

                <mat-form-field>
                    <mat-label>Product Quantity </mat-label>
                    <input matInput type="number" [(ngModel)]="shipQuantity">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cost</mat-label>
                    <input matInput type="number" [(ngModel)]="shipCost">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateVal">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button (click)="addShipment()" color="primary" class="execute-button">Apply</button>
                <button mat-raised-button (click)="addShip = false" color="warn" class="execute-button">Cancel</button>
            </div>

            <button mat-raised-button color="primary" *ngIf="!product?.discontinued"
                (click)="resetVals(); discontinueItem()" class="edit-button">Discontinue Item</button>

            <button mat-raised-button color="primary" *ngIf="product?.discontinued"
                (click)="resetVals(); rereleaseItem()" class="edit-button">Rerelease Item</button>

            <button mat-raised-button color="primary" (click)="saveProduct()" class="execute-button">Save</button>
            <button mat-raised-button color="warn" (click)="edit = false; productService.updateProducts()" class="execute-button">Cancel</button>

        </div>

    </mat-card-content>
</mat-card>