<input placeholder="{{fname.valueOf()}}" type='text' #firstname (keyup)="updateFirstName(firstname.value)"/>
<input placeholder="{{lname.valueOf()}}" type='text' #lastname (keyup)="updateLastName(lastname.value)"/>
<input placeholder="{{email.valueOf()}}" #emails (keyup)="updateEmail(emails.value)"/>
<input placeholder="{{password.valueOf()}}" #passwords (keyup)="updatePassword(passwords.value)"/>
<div *ngIf="this.role === 2">
    <input placeholder="{{role.valueOf()}}" #roles (keyup)="updateRole(+roles.value)"/>
</div>
<button (click)="onApply()">Apply</button>
<button (click)="onCancel()">Cancel</button>