<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="spacer"></span>
    <button mat-button class="title" (click)="ui.showProducts()">Dukes of York</button>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Logout" (click)="this.accountService.logoutUser(); ui.showProducts()"
        *ngIf="this.accountService.isLoggedIn"><mat-icon>logout</mat-icon></button>
    <button mat-icon-button matTooltip="Login" (click)="ui.showLogin()"
        *ngIf="!this.accountService.isLoggedIn"><mat-icon>login</mat-icon></button>
    <button *ngIf="accountService.currentUser.getValue().role != 1 && accountService.currentUser.getValue().role != 2" (click)="ui.showCart()" mat-icon-button matTooltip="My Cart"><mat-icon matBadge="0" matBadgeSize="small"
            matBadgeColor="warn">shopping_cart</mat-icon></button>
    <button *ngIf="accountService.currentUser.getValue().role != -1" (click)="ui.showAccount()" mat-icon-button matTooltip="View Account Details"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-toolbar color="accent" style="height: 20px;">
    <span id="date"></span>
    <span class="spacer"></span>
    <span class="user" *ngIf="this.accountService.getCurrentUser() | async as user">Welcome, {{user.fname}}</span>
</mat-toolbar>
<mat-drawer-container hasBackdrop="true">
    <mat-drawer #drawer mode="side">
        <mat-toolbar color="accent">
            <span *ngIf="this.accountService.getCurrentUser() | async as user">Welcome, {{user.fname}}</span>
            <span class="spacer"></span>
            <button mat-icon-button><mat-icon>account_box</mat-icon></button>
        </mat-toolbar>
        <h2><button mat-button (click)="ui.showProducts()">View All Products</button></h2>
        <!-- DEFAULT NAVIGATION -->
        <h2>Shop by Category</h2>
        <div *ngFor="let category of this.ui.getCategories() | async">
            <button mat-button (click)="ui.filterProducts(category)">{{category.name}}</button>
        </div>
        <!-- SHOPKEEPER NAVIGATION HERE -->
        <div *ngIf="this.accountService.currentUser.value.role === 1" style="display: grid;">
            <h2 >Store Management</h2>
            <button mat-button (click)="this.ui.changeToCategories()">Manage Categories</button>
            <button mat-button>Manage Products</button>
            <button mat-button (click)="this.ui.showCoupons()">Manage Coupons</button>
            <button mat-button>Manage Sales</button>

        </div>
        <!-- ADMIN NAVIGATION HERE -->
        <div *ngIf="this.accountService.currentUser.value.role === 2">
            <h2>Admin Functions</h2>
            <button mat-button>Manage Accounts</button>
        </div>
        
    </mat-drawer>
</mat-drawer-container>