<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="spacer"></span>
    <button mat-button class="title">Dukes of York</button>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Logout" (click)="this.accountService.logoutUser()"
        *ngIf="this.accountService.isLoggedIn"><mat-icon>logout</mat-icon></button>
    <button mat-icon-button matTooltip="Login" (click)="this.accountService.changeToLogin()"
        *ngIf="!this.accountService.isLoggedIn"><mat-icon>login</mat-icon></button>
    <button (click)="cart.viewCart()" mat-icon-button matTooltip="My Cart"><mat-icon matBadge="0" matBadgeSize="small"
            matBadgeColor="warn">shopping_cart</mat-icon></button>
    <button (click)="this.accountService.changeToProfile()" mat-icon-button matTooltip="View Account Details"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-toolbar color="accent" style="height: 20px;">
    <span id="date"></span>
    <span class="spacer"></span>
    <span class="user" *ngIf="this.accountService.getCurrentUser() | async as user">Welcome, {{user.fname}}</span>
</mat-toolbar>
<mat-drawer-container hasBackdrop="true">
    <mat-drawer #drawer mode="side">
        <mat-toolbar color="accent">
            <span *ngIf="this.accountService.getCurrentUser() | async as user">Welcome, {{user.fname}}</span>
            <span class="spacer"></span>
            <button mat-icon-button><mat-icon>account_box</mat-icon></button>
        </mat-toolbar>
        <h2><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration: none;">View All Products</a></h2>
        <!-- DEFAULT NAVIGATION -->
        <h2>Shop by Category</h2>
        <div *ngFor="let category of this.ui.getCategories() | async">
            <button mat-button>{{category.name}}</button>
        </div>
        <!-- SHOPKEEPER NAVIGATION HERE -->
        <div *ngIf="this.accountService.currentUser.value.role === 1">
            <h2 >Store Management</h2>
            <button mat-button>Manage Categories</button>
            <button mat-button>Manage Products</button>
            <button mat-button>Manage Coupons/Sales</button>
        </div>
        <!-- ADMIN NAVIGATION HERE -->
        <div *ngIf="this.accountService.currentUser.value.role === 2">
            <h2>Admin Functions</h2>
            <button mat-button>Manage Accounts</button>
        </div>
        
    </mat-drawer>
</mat-drawer-container>